* {
	margin: 0;
}
html, body {
	height: 100%;
}
.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 30px; /* .push must be the same height as .footer */
}
body,
.footer,
.push {
	max-width: 1366px;
}
/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/